{% extends 'base.html.twig' %}

{% block title %}New Channel{% endblock %}

{% block body %}
    <h1>Create new Channel</h1>

    {{ include('channel/_form.html.twig') }}
    {% for message in app.flashes('notice') %}
      <div class="flash-notice">
        {{ message }}
    </div>
  {% endfor %}

    <a href="{{ path('channel_index') }}">back to list</a>
{% endblock %}
